/* style.css */
 * {
    margin: 0px;
    padding: 0px;
 }





/* Pizza Page */
.contain-top-pizza {
    display: flex;
    flex-direction: column;
}


/* Top of Pizza Page */


.contain-top-pizza .pizza-header-container {
    display: flex;
    justify-content: center;
    padding: 28px;
    color: crimson;
    background-color: brown;
}

.pizza-header-container .title-pizza {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.contain-top-pizza .pizza-img-container {
    display: flex;
    justify-content: center;
    background-color: brown;
}

.pizza-img {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    background-color: darkred;
}


/* Middle of Pizza Page */


.describe-pizza {
    display: flex;
    flex-direction: column;
}

.describe-pizza .pizza-header-container {
    display: flex;
    border: 4px solid red;
    justify-content: center;
    padding: 14px;
    color: crimson;
    background-color: brown;
}

.pizza-header-container .describe-header {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.main-text-pizza {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: black;
    font-weight: bold;
}

.main-text-pizza .item-1 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.main-text-pizza .item-2 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.main-text-pizza .item-3 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.main-text-pizza .item-4 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.main-text-pizza .item-5 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}


/* Bottom of Pizza Page */


.contain-bottom-pizza {
    display: flex;
    flex-direction: column;
}


/* Ingredients */


.contain-bottom-pizza .contain-ingredients-header-pizza {
    display: flex;
    border: 4px solid red;
    padding: 30px;
    background-color: brown;
    color: crimson;
}

.contain-ingredients-header-pizza .subsection-header-pizza {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.contain-bottom-pizza .ingredients-pizza {
    display: flex;
    flex-direction: column;
    padding: 28px;
    background-color: darkred;
}

.ingredients-pizza .item-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 14px;
    gap: 5px;
    background-color: black;
    color: darkred;
    font-weight: bold;
}

/* Directions */

.directions-pizza {
    display: flex;
    flex-direction: column;
}

.directions-pizza .contain-directions-header-pizza {
    display: flex;
    border: 4px solid red;
    padding: 30px;
    background-color: brown;
    color: crimson;
}

.contain-directions-header-pizza .subsection-header-pizza {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.directions-pizza .steps-container {
    display: flex;
    justify-content: center;
    color: crimson;
    padding: 14px;
    font-weight: bolder;
    background-color: brown;
}

.steps-container .steps {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color:darkred;
}

.directions-pizza .item-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 5px;
    background-color: darkred;
    font-weight: bold;
}

.item-container .items {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 10px;
    color: darkred;
    background-color: black;
}


/* Fried Rice Page */


.contain-top-rice {
    display: flex;
    flex-direction: column;
}


/* Top of Fried Rice Page */


.contain-top-rice .rice-header-container {
    display: flex;
    background-color: bisque;
    justify-content: center;
    padding: 28px;
}

.rice-header {
    display: flex;
    background-color: antiquewhite;
    color:burlywood;
    padding: 10px;
    border-radius: 10px;
}

.contain-top-rice .rice-img-container {
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.rice-img {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    background-color:antiquewhite;
}


/* Middle of Fried Rice Page */


.describe-rice {
    display: flex;
    flex-direction: column;
}

.describe-rice .describe-header-container {
    display: flex;
    border: 4px solid lightyellow;
    justify-content: center;
    padding: 14px;
    background-color:blanchedalmond;
}

.description-rice {
    display: flex;
    background-color:cornsilk;
    border-radius: 10px;
    padding: 10px;
    color: burlywood;
}

.describe-rice .main-text-rice {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    font-weight: bold;
    color:yellow;
}

.main-text-rice .item-1 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

.main-text-rice .item-2 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

.main-text-rice .item-3 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

.main-text-rice .item-4 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

.main-text-rice .item-5 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

.main-text-rice .item-6 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

.main-text-rice .item-7 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

.main-text-rice .item-8 {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}


/* Bottom of Fried Rice Page */


.contain-bottom-rice {
    display: flex;
    flex-direction: column;
}

.contain-bottom-rice .contain-ingredients-header-rice {
    display: flex;
    padding: 30px;
    border: 4px solid cornsilk;
    background-color: antiquewhite;
}

.ingredients-header-rice {
    display: flex;
    padding: 10px;
    background-color: cornsilk;
    color: burlywood;
    border-radius: 10px;
}

.contain-bottom-rice .ingredients-rice {
    display: flex;
    padding: 28px;
    background-color:lightyellow;
}

.ingredients-rice .rice-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    gap: 5px;
    background-color: whitesmoke;
    color:burlywood;
}

.contain-bottom-rice .directions-header-rice {
    display: flex;
    padding: 30px;
    border: 4px solid cornsilk;
    background-color: antiquewhite;
}

.directions-rice {
    display: flex;
    padding: 10px;
    background-color: cornsilk;
    color: burlywood;
    border-radius: 10px;
}

.contain-bottom-rice .steps-header-container {
    display: flex;
    color: burlywood;
    padding: 14px;
    font-weight: bolder;
    background-color: cornsilk;
}

.steps-header {
    display: flex;
    padding: 14px;
    border-radius: 10px;
    background-color:whitesmoke;
}

.contain-bottom-rice .directions-container {
    display: flex;
    background-color: lightyellow;
    padding: 28px;
}

.directions-container .rice-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    background-color: whitesmoke;
    color:burlywood;
}


/* Spaghetti Pasta Page */

