/* style.css */

/* All page images */
img {
    height:auto;
    width: 500px;
    margin-left: 400px;
    margin-bottom: 30px;
}



/* Pizza Page */
.title-pizza {
    color:red;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 425px;
}

.subsection.header {
    color:brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
}

.main-text-pizza {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}

.ingedients-and-directions-pizza {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* Spaghetti Pasta Page */
.title-pasta {
    color: green;
    font-family:"Monaco",monospace ;
    margin-left: 200px;
}

.subsection {
    color:chartreuse;
    font-family: "Courier New",monospace;
}

.main-text-pasta {
    color: green;
    font-family:"Lucida Console",monospace ;
    margin-top: 40px;
}

.ingredients-and-directions-pasta {
    color: green;
    font-family:"Lucida Console",monospace;
    margin-top: 40px;
}





/* Fried Rice Page */
.title-rice {
    color: goldenrod;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 510px;
}

.description-rice {
    color: coral;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-text-rice {
    color: burlywood;
    background-color: white;
    font-weight:bolder;
    font-family:serif;
    margin-top: 40px;
}

.ingredients-and-directions-rice {
    color: darksalmon;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40px;
}

.rice-list {
    color: burlywood;
    background-color: white;
    font-family:serif;
}







