* {
    margin: 0px;
    padding: 0px
}

.img-container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    align-items: stretch;
}


.header .main-title {
    color:burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.header .owner {
    display: flex;
    color:darkgray;
    justify-content: end;
}


.link-container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 48px;
    background-color:bisque;
}

.link-container-main .link-one {
    display: flex;
    border-radius: 10px;
    height: 50px;
    background-color:antiquewhite;
    justify-content: center;
    align-items: center;
}


.link-container-main .link-two {
    display: flex;
    border-radius: 10px;
    height: 50px;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.link-container-main .link-three {
    display: flex;
    border-radius: 10px;
    height: 50px;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

